<div class="main">
    <div class="area-cabecalho">
        <nav class="menu">
            <a href="">Agenda</a>
            <button class="login">Login</button>
        </nav>
    </div>

</div>
<script src="/public/js/script.js"></script>