html {
    padding: 180px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 15px;
    align-items: center;
}

h1 {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(18, 233, 36);
}

h2 {
    position: relative;
    text-align: center;
    padding-bottom: 25px;
    font-size: 38px;
    color: rgb(18, 233, 36);
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 750px;
    margin: auto;
    text-align: center;
    background-color: rgb(221, 18, 191);
}

.DayWeek{
    color: white; 
    font-size: 20px;

}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 5px;
}

.day {
    border: 2px solid #070707;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    background-color: #50505000;
    cursor: pointer;
    font-size: 20px;
}

.day:hover {
    background-color: #f0f0f0;
}

#status {
    text-align: center;
    margin-top: 80px;
    font-style: italic;
    color: #333;
    text-decoration: underline;
}