.palestra-card {
    margin: 1em;
    padding: 1em;
    min-height: 8em;
    min-width: 8em;
    max-width: 200px;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: rgb(221, 18, 191);
    list-style-type: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  }
  
  .palestra-text {
    margin: 1em;
    color: white;
    font-weight: 500;
  }
  
  .palestra-titulo {
      margin: 1em;
      color: white;
    }
  
  .palestra-desativado {
    display: none;
  }

  .palestra-button {
    color: #fff;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.palestra-button:hover {
    transform: scale(1.1); /* Grow by 10% on hover */
}