* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Interface', Arial, sans-serif;
    background-color: #8d8d8d;
    background-size: 100%;
    background-image: url(../images/background_image.jpg);
    background-repeat: no-repeat;
}

.area-cabecalho {
    background-color: rgb(15, 15, 15);
    text-align: left;
    opacity: 0.85;
    display: flex;
}

.menu {
    margin-left: 0px;
    font-weight: bold;
    font-size: 15px;
    cursor: default;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu a {
    display: inline;
    margin: 0px 10px;
    padding: 15px 0px;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    transition: all 20ms ease-in-out;
}

a:hover {
    color: #4e4e4e;
}

.agenda {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 900;
    border: 1px hidden;
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    opacity: 1;
    height: 37px;
    width: 101px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;

}

.agenda:hover {
    background-color: #e9e9e9;
}

.login {
    background-color: #00A826;
    color: white;
    font-weight: 900;
    border: 1px hidden;
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    opacity: 1;
    margin: 0px 5px;
    height: 37px;
    width: 101px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.login:hover {
    background-color: #00cf30;
}

div.container-login {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.7);
    width: 100%;
    height: 100vh;
    display: none;
}

div.container-login form {
    background-color: white;
    max-width: 400px;
    width: 70%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container-login form div.div-login {
    width: 250px;
}

div.container-login form input {
    margin-top: 15px;
    width: 250px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;

}

div.container-login form button {
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border: 1px solid;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    font-weight: 900;
    color: white;
}

div.container-login form .btn-entrar {
    background-color: #00A826;
    border: #00A826;
}

div.container-login form .btn-entrar:hover {
    background-color: #00cf30;

}

div.container-login form .btn-fechar {
    margin-left: 45px;
    background-color: #a50000;
    border: #a50000;
}

div.container-login form .btn-fechar:hover {
    background-color: #c80000;

}

.div-login-falha {
    display: none;
}

.div-login-sucesso {
    display: none;
}

.registrar {
    background-color: white;
    color: #00A826;
    font-weight: 900;
    border: 1px solid #00A826;
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    opacity: 1;
    height: 37px;
    width: 101px;
    margin-right: 5px;
}

.registrar:hover {
    background-color: #00cf30;
    color: white;
}

div.container-registrar {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.7);
    width: 100%;
    height: 100vh;
    display: none;
}

div.container-registrar form {
    background-color: white;
    max-width: 400px;
    width: 70%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}


div.container-registrar form div.div-registrar {
    width: 250px;
}

div.container-registrar form input {
    margin-top: 15px;
    width: 250px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;

}

div.container-registrar form label,
div.container-registrar form select {
    margin-top: 15px;
}

div.container-registrar form button,
.btn-cadastrar {
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border: 1px solid;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    font-weight: 900;
    color: white;
}

div.container-registrar form .btn-cadastrar {
    background-color: #00A826;
    border: #00A826;
    width: 100px;
}

div.container-registrar form .btn-cadastrar:hover {
    background-color: #00cf30;

}

div.container-registrar form .btn-fechar-registro {
    margin-left: 45px;
    background-color: #a50000;
    border: #a50000;
}

div.container-registrar form .btn-fechar-registro:hover {
    background-color: #c80000;

}

.div-registro-sucesso{
    display: none;
}

.palestra-card {
    margin: 1em;
    padding: 1em;
    min-height: 8em;
    min-width: 8em;
    max-width: 200px;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: rgb(221, 18, 191);
    list-style-type: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  }
  
  .palestra-text {
    margin: 1em;
    color: white;
    font-weight: 500;
  }
  
  .palestra-titulo {
      margin: 1em;
      color: white;
    }
  
  .palestra-desativado {
    display: none;
  }

  .palestra-button {
    color: #fff;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.palestra-button:hover {
    transform: scale(1.1); /* Grow by 10% on hover */
}

.agenda{
    visibility: hidden;
}

.descricao{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 300px;
    background-color: #ccc;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
}

.descricao p{
    font-size: 20px;
    width: 600px;
    margin-top: 4px;
    margin-left: 7px;
}

.descricao p span{
    font-size: 30px;
    font-weight: bold;
}

.logout {
    background-color: #a80000;
    color: white;
    font-weight: 900;
    border: 1px solid #a8001f;
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    opacity: 1;
    height: 37px;
    width: 101px;
    margin-right: 5px;
    margin-top: 5px;
}

.logout:hover {
    background-color: #cf0011;

}

  .logout{
    display: none;
  }